@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/noto-sans");

html {
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  line-height: 23px;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  line-height: 1.2;
  margin: 0 0 10px;
  letter-spacing: -0.05em;
}

h2 {
  color: #333;
  margin: 0 0 10px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

h3,
h4 {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.7;
  color: #333;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5,
h6 {
  font-size: 14px;
  margin: 0 0 10px;
}

img {
  border: none;
  outline: none;
}

ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 15px;
  margin-bottom: 15px;
}

a,
a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ddd !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ddd !important;
}

button {
  border: none;
  background: none;
}

/* Helper Class */

.pd-15 {
  padding: 15px;
}

.padding {
  padding: 100px 0;
}

.no-padding {
  padding: 0;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #fafafa;
}

.bg-dark {
  background-color: #232323;
}

.bd-top {
  border-top: 1px solid #eaeaea;
}

.bd-bottom {
  border-bottom: 1px solid #eaeaea;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.fz-28 {
  font-size: 28px;
}

.fz-24 {
  font-size: 24px;
}

.fz-22 {
  font-size: 22px;
}

.fz-20 {
  font-size: 20px;
}

.fz-18 {
  font-size: 18px;
}

.fz-16 {
  font-size: 16px;
}

.text-black {
  color: #333;
}

.text-white {
  color: #ffffff;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.fl-right {
  float: right;
}

.fl-left {
  float: left;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.overlay {
  width: 100%;
  position: relative;
  z-index: 1;
}

.overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Preloader Styles */

.loaded .site-preloader-wrap {
  opacity: 0;
  visibility: hidden;
}

.site-preloader-wrap {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #272c30;
  top: 0;
  left: 0;
}

.site-preloader-wrap .spinner {
  background-color: #1da1f2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.spinner {
  width: 40px;
  height: 40px;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* Button Style */

.btn-group {
}

.btn-group a {
  margin: 5px;
}

.btn-group-left a {
  margin-right: 15px;
  margin-bottom: 15px;
}

.default-btn {
  background-color: #4da351;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  padding: 10px 30px;
  display: inline-block;
}

.default-btn:hover {
  opacity: 0.8;
  color: #fff;
}

@media (max-width: 768px) {
  .default-btn {
    margin: 1rem 5rem;
  }
}

/*Section Heading*/

.section-heading {
}

.section-heading h2 {
  font-size: 40px;
  font-weight: 500;
}

/* Transition Effect */

a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* ==========================================================================
   Header Section
   ========================================================================== */

.header-section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 99;
  position: sticky;
  left: 0;
  top: 0;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.navbar-fixed-top.header-section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}

.navbar {
  border: medium none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  position: relative;
  padding: 0;
}

.navbar-header {
  padding: 17px 0;
}

.navbar-header .brand {
  font-size: 25px;
  color: #333;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  letter-spacing: -1px;
  font-weight: 600;
  margin-left: 13px;
}

.navbar-brand img {
  max-width: 10rem;
}

/* Nav Menu */

#navbar {
  z-index: 999;
  padding: 0 15px;
}

ul.nav {
  display: inline-block;
}

ul.nav > li {
  display: inline-block;
}

ul.nav > li > a {
  color: #777;
  font-family: "Montserrat", "Noto Sans", sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 70px;
}

ul.nav > li > a:hover,
ul.nav > li > a:focus,
ul.nav > li > a.active {
  background: none;
  color: #4da351;
  opacity: 1;
}

.main-menu .default-btn {
  padding: 10px 30px;
  display: inline-block;
}

.menu-btn {
  margin-left: 10px;
  margin-top: 10px;
}

/*Mobile Menu */

.menu-wrap {
  position: relative;
}

.slicknav_menu {
  background: none;
  padding: 4px 0;
  display: none;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.slicknav_nav {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.slicknav_btn {
  background-color: transparent;
  margin: 8px 5px 21px;
  z-index: 2;
}

.navbar-fixed-top .slicknav_btn {
  margin-bottom: 17px;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row,
.slicknav_nav a,
.slicknav_nav a:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 10px 15px;
  margin: 0;
  color: #777;
}

.slicknav_nav a .caret {
  display: none;
}

.slicknav_nav ul {
  margin: 0;
}

.slicknav_nav ul li a {
  padding-left: 30px;
  font-size: 12px;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover {
  background-color: transparent;
  color: #333;
}

/* ==========================================================================
   Hero Section
   ========================================================================== */

.hero-section {
  margin-top: 5rem;
}

.hero-section__container {
  position: relative;
}

.hero-section__row_img {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  height: 30rem;
}

.hero-section__row_text {
  position: absolute;
  top: 15%;
  left: 15%;
  display: inline;
  text-align: start;
  color: white;
}

.hero-section__row_text h1 {
  font-size: 52px;
  font-weight: 600;
}

.hero-section__row_text p {
  font-size: 30px;
  font-weight: 400;
  line-height: 2rem;
}

@media (max-width: 640px) {
  .hero-section {
    margin-bottom: -13rem;
    margin-top: -3.5rem;
  }
  .hero-section__row {
    margin-bottom: 4rem;
  }
  .hero-section__row_img {
    background-image: url(../img/mobile.jpg);
    height: 35rem;
    width: 100%;
  }
  .hero-section__row_text {
    position: absolute;
    display: inline;
    top: 10%;
    left: 1%;
    color: white;
  }

  .hero-section__row_text h1 {
    display: inline;
    font-size: 20px;
    line-height: 1.2rem;
  }

  .hero-section__row_text p {
    display: inline;
    font-size: 16px;
    line-height: 1.2rem;
  }

  br {
    display: none;
  }
}

/* ==========================================================================
   Promo Section
   ========================================================================== */

.promo-section {
}

.promo-wrap {
}

.promo-content {
  padding: 30px 15px;
  border: 1px solid #ddd;
  border-radius: 1.2rem;
  overflow: hidden;
  height: 18rem;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(180deg, #4da351, #3b803e);
}

.promo-content:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 20px 30px -2px rgba(0, 0, 0, 0.1);
}

.promo-content h3 {
  margin-bottom: 5px;
  color: white;
}

.promo-content p {
  margin-bottom: 0;
  line-height: 30px;
  color: white;
}

.promo-main-content h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

@media (max-width: 768px) {
  .promo-content {
    height: max-content;
  }
}

/* ==========================================================================
   Feature Section
   ========================================================================== */

.features-container {
  width: min(90%, 1140px);
  margin: 3rem auto;
}

.comment-container {
  position: relative;
}

.comment-container h2 {
  text-align: center;
  margin: 2rem 0;
}

.comment-container h3 {
  text-align: center;
  margin: 2rem 0;
  color: rgb(135 0 135);
  font-size: 1.2rem;
  font-weight: 700;
}

.comment-container:not(:first-child) {
  margin-left: 3rem;
  margin-top: 1rem;
}

.comment-card {
  padding: 1rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  min-width: 100%;
  margin-bottom: 2rem;
  color: black;
  transition: all 0.2s ease-in-out;
  background-image: url("../img/1.png");
  background-size: 102% 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.comment-card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 20px 30px -2px rgba(0, 0, 0, 0.1);
}

.comment-card h4,
p {
  margin-bottom: 1rem;
}

/* ==========================================================================
   How ItWorks Section
   ========================================================================== */

.how-it-works-section {
  position: relative;
  padding: 120px 0;
  z-index: 1;
}

.how-it-works-section:before {
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.how-content {
  position: relative;
}

.how-content i {
  color: #fff;
  font-size: 50px;
  margin-bottom: 15px;
}

.how-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
}

.how-content p {
  margin-bottom: 0;
  color: white;
}

.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
  margin: 0 auto;
}

.example-card {
  margin: 20px 10px;
}

.example-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-content {
  position: relative;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-circle {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 10px;
  transition: transform 1s;
}

.content-circle2 {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 30px;
  transition: transform 1s;
}

.content-circle3 {
  position: absolute;
  width: 248px;
  height: 248px;
  top: 45px;
  transition: transform 1s;
}

.content-img {
  position: relative;
  width: 300px;
  height: auto;
  z-index: 2;
}

.img-exm {
  position: absolute;
  top: 55px;
  right: 90px;
  width: 180px;
  height: auto;
  z-index: 1;
}

.example-content h4 {
  font-size: 1.2em;
  z-index: 1;
  margin: 10px 0;
}

h2 {
  text-align: center;
}

/* ==========================================================================
   Clients Section
   ========================================================================== */

.client-wrap {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 2rem 0;
}

.client-wrap h2 {
  font-size: 28px;
  text-align: center;
}

.client-wrap hr {
  width: 15%;
  height: 5px;
  border: none;
  margin: 1rem auto;
  background: rgb(135 0 135);
}

.client-in {
  width: 100%;
  height: auto;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-in__item1,
.client-in__item2,
.client-in__item3,
.client-in__item4,
.client-in__item5 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 10px;
  width: 150px;
  height: 150px;
  margin: 0 3rem;
}

/*.client-in__item1:hover,*/
/*.client-in__item2:hover,*/
/*.client-in__item3:hover,*/
/*.client-in__item4:hover,*/
/*.client-in__item5:hover {*/
/*    */
/*}*/

.client-in__item1 {
  background-image: url("../img/ateshgah.png");
  background-size: 220px;
}

.client-in__item2 {
  background-image: url("../img/atb.png");
}

.client-in__item3 {
  background-image: url("../img/azersigorta.png");
}

.client-in__item4 {
  background-image: url("../img/landau.png");
  background-size: 230px;
}

.client-in__item5 {
  background-image: url("../img/agroup.png");
  background-size: 130px;
}

@media screen and (max-width: 978px) {
  .client-in {
    display: block;
  }

  .client-in__item1,
  .client-in__item2,
  .client-in__item3,
  .client-in__item4,
  .client-in__item5 {
    margin: 0 auto;
  }
}

/* ==========================================================================
   `Footer` Section
   ========================================================================== */

.footer-section {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  display: block;
  color: #777;
  text-align: center;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.footer-link p {
  color: #777;
  cursor: pointer;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 600;
}

.footer-link p:active,
.footer-link p:focus,
.footer-link p:hover {
  background: none;
  color: #4da351;
  opacity: 1;
}

.footer-section img {
  width: 13rem;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-link {
    margin-top: 1.1rem;
  }
}

/* ==========================================================================
   Scroll To Top
   ========================================================================== */

.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 18px;
  color: white;
  border-radius: 8rem;
  cursor: pointer;
  background-color: #4da351;
  transition: all 0.5s ease;
  display: none;
}

.scrollTop:hover {
  opacity: 0.8;
  color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .padding {
    padding: 50px 0;
  }
}
